#LoginUser{
  height: 5px;
}

/* Navigation Bar
.navbar {
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  transition: 0.3s;
}

.navbar a:hover,
.navbar .active {
  color: #F68A06;
} */
