.admin-dashboard {
  padding: 70px 10%;
}

.admin-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.admin-card {
  background: linear-gradient(135deg, #ff8c00, #A52A2A);
  color: #fff;
  padding: 40px;
  border-radius: 18px;
  text-align: center;
  font-weight: 600;
  transition: 0.4s ease;
}

.admin-card:hover {
  transform: scale(1.07);
}
